<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.png" alt="Company Logo"  />
      <div class="companyName">
        <p >AKEO'Plus</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/shop">
      <mat-icon>shop</mat-icon> Shop 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users"> 
      <mat-icon>people</mat-icon> Clients </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/products">
       <mat-icon>shopping_cart</mat-icon> Products </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/orders">
       <mat-icon>credit_card</mat-icon> Orders </a>
  </mat-nav-list>
  